/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: relative;

  }

  /*Propriedades das cartas*/
  .div-img {
      display: flex;
      margin-top: 3vh;
      margin-left: 3vw;
      margin-bottom: 3vh;
      align-items: center;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    background-color: rgb(255, 0, 0);
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: rgb(255, 0, 0);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5vh;
    margin-right: 4vw;
    border-radius: 10px;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #ffffff;
    color: rgb(255, 0, 0);
    
  }